
/* ヘッダーの装飾 */

/* Loading背景画面設定　*/
#splash {
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
background-color: white;
text-align:center;
}

#splash_logo {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* .logo{
  text-align: start;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 50px;
  animation: pyonpyon 3s infinite ease;
  color: rgb(221, 103, 6);
} */

#splash_logo img{
  height: 300px;
  width: 300px;
  animation: pyonpyon 3s infinite ease;
}

@keyframes pyonpyon {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -15px);
  }
  25% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, -15px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
from {
  opacity: 0;
transform: translateY(100px);
}

to {
  opacity: 1;
transform: translateY(0);
}
}

header{
    background-image: url('./asset/sakana.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.header_left ul{
    display: flex;
    justify-content: flex-end;
}

.header_left li{
    padding-right: 30px;
    padding-top: 30px;
    margin-left: 30px;
}

.header_left a:hover {
    color: rgba(0, 255, 255, 0.89);
  }

.header_left a{
    color: rgb(248, 245, 248);
    font-size: 30px;
    text-decoration: none;
    font-family: 'Caveat', cursive;
}

.main_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.main_title h1{
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.text-focus-in {
    -webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

/* NEWSの装飾 */

.news{
    background-image: url(./asset/haikei.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* スライドショー */

.slideshow li{
    margin: 10px;
}

.photo {
    width: 300px;
    height: 300px;
    border-radius: 10%;
  }

.slideshow{
    display: flex;
}

.wrap{
    display: flex;
    align-items: center;
    height: 340px;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 100px;
}

.slideshow {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
  }
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

.slide-paused:hover .slideshow {
    animation-play-state: paused;
  }

.content-hover {
    transition: all 0.2s;
  }

.content-hover:hover {
    transform: translateY(-20px);
    border-radius: 0 10%;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
  }

.news_title{
    font-size: 40px;
    font-family: 'Caveat', cursive;
    color: rgb(32, 102, 143);
    text-align: center;
    padding-bottom: 30px;
}

.news_text{
  height: 300px;
}

.news_text dl{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0; 
    font-family: 'Kiwi Maru', serif;
    color: rgb(7, 92, 121);
    border-bottom: solid rgb(7, 92, 121) 1px;
}

dl dd {
    padding-left: 20px;
  }


.news_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.sakana_icon{
    background-image: url("./asset/fish_transparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.eat{
    background-image: url("./asset/fish2_transparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px; 
}

.sakana_mure{
    background-image: url(./asset/mure_transparent\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    transform: translate(1500px) translateY(-300px);
}

.oyogu{
    background-image: url(./asset/mure_transparent\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    transform: translateX(-1000px) translateY(-300px);
    transition: all 9s ease;
}

.kawauso{
  background-image: url(./asset/kawauso_biku.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 400px;
  transform: translateX(1500px) translateY(-300px); 
}

.biku{
  transform: translateX(1050px) translateY(-300px); 
  transition: all 2s ease;
}


/* -- リナさん編集 -- */
.one{
  background-image: url(./asset/haikei.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



#pickup{
  font-size: 40px;
  font-family: 'Caveat', cursive;
  color: rgb(32, 102, 143);
  text-align: center;
  padding-bottom: 30px;
   
}


.zoo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}



.imgBox img{
    border-radius: 30%;
    max-width: 34%;
   
}

#takasago{
  border-radius: 30%;
  max-width: 40%;
}


.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0; 
  font-family: 'Kiwi Maru', serif;
  padding: 20px 20px;
  
}
.text p{
  padding-bottom: 8px;
  color: rgb(7, 92, 121);
  border-bottom: solid rgb(7, 92, 121) 1px;
}

  

#price1{
  font-size: 40px;
    font-family: 'Caveat', cursive;
    color: rgb(32, 102, 143);
    text-align: center;
    padding: 20px;
}

.spans{
  display: flex;
  justify-content: center;
  font-size: 15px;
 
  }

  .spans span{
    padding: 20px 8px;
  }




.access{
display: flex;
align-items: center;
justify-content: center;
font-size: 12px;
padding: 30px 10px;

}

.address{
font-size: 12px;
padding: 20px 60px;
}

.address h1{
  font-size: 40px;
  font-family: 'Caveat', cursive;
  color: rgb(32, 102, 143);
  text-align: center;
  padding-bottom: 30px;
}



footer{
    text-align: center;
    font-size: small;
    height: 50px;
    padding-top: 30px;
    background-image: url(./asset/haikei.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
